<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <label><input [(ngModel)]="showInactive" (change)="updateInactive($event)" type="checkbox"> Show Inactive</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Lookup Types</h3>
            </div>
            <div class="panel-body">
                <dx-data-grid id="lookupTypesGrid"
                [dataSource]="lookupTypeDataSource"
                (onSelectionChanged)="selectionChanged($event)"
                (onRowInserting)="createLookupType($event)"
                (onRowInserted)="refreshData()"
                (onRowUpdating)="saveLookupType($event)"
                (onRowUpdated)="refreshData()"
                (onRowRemoving)="deactivateLookupType($event)"
                (onRowRemoved)="refreshData()"
                (onContentReady)="moveEditColumnToLeft($event)"
                (onCellPrepared)="formatCommandColumn($event)">
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="id" [allowEditing]="false" [width]="50" [visible]="false"></dxi-column>
                <dxi-column dataField="typeDescription" [width]="150"></dxi-column>
                <dxi-column dataField="isActive" dataType='boolean' [width]="90"></dxi-column>
                <dxo-header-filter 
                    [dataSource]="orderHeaderFilter"></dxo-header-filter>
                <dxo-remote-operations
                    [sorting]="true"
                    [paging]="true">
                </dxo-remote-operations>
                <dxo-column-chooser
                    [enabled]="false"></dxo-column-chooser>
                <dxo-paging [pageSize]="8"></dxo-paging>
                <dxo-editing 
                    mode="popup"
                    [allowUpdating]="true"
                    [allowDeleting]="true"
                    [allowAdding]="true">
                        <dxo-popup
                        title="Lookup Type Info"
                        [showTitle]="true"
                        [width]="700"
                        [height]="450"
                        [position]="{ my: 'top', at: 'top', of: window }">
                        <div>
                            <div>Hello from dxPopup</div>
                        </div>
                </dxo-popup>
                </dxo-editing>
                <dxo-filter-row 
                [visible]="true" 
                [applyFilter]="onClick"></dxo-filter-row>
                <dxo-header-filter 
                [visible]="true"></dxo-header-filter>
                <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[8, 12, 20]"
                ></dxo-pager>
                </dx-data-grid>
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Lookup Values</h3>
            </div>
            <div class="panel-body">
                <dx-data-grid #lookupGrid
                id="lookupGrid"
                [dataSource]="lookupDataSource"
                (onRowInserting)="createLookup($event)"
                (onRowInserted)="refreshData()"
                (onRowUpdating)="saveLookup($event)"
                (onRowUpdated)="refreshData()"
                (onRowRemoving)="deactivateLookup($event)"
                (onRowRemoved)="refreshData()"
                (onContentReady)="moveEditColumnToLeft($event)"
                (onCellPrepared)="formatCommandColumn($event)">
                <dxi-column dataField="id" [allowEditing]="false" [width]="50" [visible]="false"></dxi-column>
                <dxi-column dataField="value"></dxi-column>
                <dxi-column dataField="lookupTypeId" caption="Lookup Type" >
                    <dxo-lookup
                        [dataSource]="lookupTypeDataSource"
                        valueExpr="id"
                        displayExpr="typeDescription">
                    </dxo-lookup>
                </dxi-column>   
                <dxi-column dataField="isActive" dataType='boolean' [width]="90"></dxi-column>
                <dxo-header-filter 
                    [dataSource]="orderHeaderFilter"></dxo-header-filter>
                <dxo-remote-operations
                    [sorting]="true"
                    [paging]="true">
                </dxo-remote-operations>
                <dxo-column-chooser
                    [enabled]="true"></dxo-column-chooser>
                <dxo-paging [pageSize]="8"></dxo-paging>
                <dxo-editing 
                    mode="popup"
                    [allowUpdating]="true"
                    [allowDeleting]="true"
                    [allowAdding]="true">
                        <dxo-popup
                        title="Lookup Info"
                        [showTitle]="true"
                        [width]="700"
                        [height]="450"
                        [position]="{ my: 'top', at: 'top', of: window }">
                        <div>
                            <div>Hello from dxPopup</div>
                        </div>
                </dxo-popup>
                </dxo-editing>
                <dxo-filter-row 
                [visible]="true" 
                [applyFilter]="onClick"></dxo-filter-row>
                <dxo-header-filter 
                [visible]="true"></dxo-header-filter>
                <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[8, 12, 20]"
                ></dxo-pager>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>