<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <label><input [(ngModel)]="showInactive" (change)="updateInactive($event)" type="checkbox"> Show Inactive</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Roles</h3>
        </div>
        <div class="panel-body">
            <dx-data-grid id="roleGrid"
            [dataSource]="roleDataSource"
            (onSelectionChanged)="selectionChanged($event)"
            (onRowInserting)="createRole($event)"
            (onRowInserted)="refreshData()"
            (onRowUpdating)="saveRole($event)"
            (onRowUpdated)="refreshData()"
            (onRowRemoving)="deactivateRole($event)"
            (onRowRemoved)="refreshData()"
            (onContentReady)="moveEditColumnToLeft($event)"
            (onCellPrepared)="formatCommandColumn($event)">
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column dataField="id" [allowEditing]="false" [width]="50"  [visible]="false"></dxi-column>
            <dxi-column dataField="role" [width]="100"></dxi-column>
            <dxi-column dataField="permissionId" caption='Permission' [width]="100">
                <dxo-lookup
                  [dataSource]="permissionDataSource"
                  valueExpr="id"
                  displayExpr="permission">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="isActive" dataType='boolean' [width]="90"></dxi-column>
            <dxi-column dataField="lastUpdated" [allowEditing]="false" [width]="120" dataType="date" format="shortDateShortTime"></dxi-column>
            <dxi-column dataField="lastUpdatedBy" [allowEditing]="false" [width]="90"></dxi-column>
            <dxi-column dataField="created" [allowEditing]="false" [width]="100" dataType="date" format="shortDateShortTime"></dxi-column>
            <dxi-column dataField="createdBy" [allowEditing]="false" [width]="90"></dxi-column>
            <dxo-header-filter 
                [dataSource]="orderHeaderFilter"></dxo-header-filter>
            <dxo-remote-operations
                [sorting]="true"
                [paging]="true">
            </dxo-remote-operations>
            <dxo-column-chooser
                [enabled]="false"></dxo-column-chooser>
            <dxo-paging [pageSize]="8"></dxo-paging>
            <dxo-editing 
                mode="popup"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [allowAdding]="true">
                    <dxo-popup
                    title="User Info"
                    [showTitle]="true"
                    [width]="700"
                    [height]="450"
                    [position]="{ my: 'top', at: 'top', of: window }">
                    </dxo-popup>
            </dxo-editing>
            <dxo-filter-row 
            [visible]="true" 
            [applyFilter]="onClick"></dxo-filter-row>
            <dxo-header-filter 
            [visible]="true"></dxo-header-filter>
            <dxo-pager
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[8, 12, 20]"
            ></dxo-pager>
            </dx-data-grid>
        </div>
      </div>
    </div>
  </div>